{# ### Doc-level settings ### #}
\documentclass[]{resume}
\usepackage{fancyhdr}
\usepackage{amssymb}
 

\pagestyle{fancy}
\fancyhf{}
 

\rfoot{Page \thepage \hspace{1pt}}
\begin{document}

\headerdetail{7}{\href{http://hp.dereklarson.info/printable_resume.pdf}{Printable version} }
\headerdetail{155}{Last updated on \today}

{# ## Title section ## #}

\namesection{{"{"}}{{ contact.name }}{{"}"}}{\urlstyle{same}
    \href{{"{"}}{{ contact.homepage }}{{"}{"}}{{ contact.homepage }} }\\
    {{ contact.phone }} | \href{mailto:{{ contact.email }} }{ {{ contact.email }} }
}

{# ### Left Column, 1/3 of page width ### #}

\begin{minipage}[t]{0.33\textwidth} 

{# ## Education section ## #}
\section{Education} 
{% for edu in education %}
\subsection{{"{"}}{{ edu.organization }}{{"}"}}
\descript{{"{"}}{{ edu.degree }}{{"}"}}
\location{{"{"}}{{ edu.date }} | {{ edu.location }}{{"}"}}
{% if edu.thesis %}
{{ edu.thesis.type }}: {{ edu.thesis.link }}
{% endif %}
\sectionsep

{% endfor %}

{# ## Skills section ## #}
\section{Skills}
{% for category, catlist in skills.categories.items() %}
\subsection{{"{"}}{{ category }}{{"}"}}
{% for skill in catlist %}
\textbullet{} {{ skill.skill }} {{ skill.rating }}\\
{% endfor %}
\sectionsep
{% endfor %}

{# ## Interests section ## #}
\section{Interests}
{% for hobby in interests.interests %}
{% if hobby.link %}
\textbullet{} \href{{"{"}}{{ hobby.link }}{{"}"}}{{"{"}}{{ hobby.name }}{{"}"}}\\
{% else %}
\textbullet{} {{ hobby.name }}\\
{% endif %}
{% endfor %}
\sectionsep

{# ### Right Column, 2/3 of page width ### #}
\end{minipage} 
\hfill
\begin{minipage}[t]{0.66\textwidth} 

{# ## Experience section ## #}
\section{Experience}
{% for job in work %}
\runsubsection{{"{"}}{{ job.organization }}{{"}"}}
\descript{| {{ job.title }}{{"}"}}
\location{{"{"}}{{ job.range }} | {{ job.location }}{{"}"}}
{% for item in job.content %}
\emph{{"{"}}{{ item.key or item }}{{"}"}}
{% if item.key %}
\begin{tightemize}{0.5cm}
  {% for subitem in item.subitems %}
\item[$\bullet$] {{ subitem }}
  {% endfor %}
\end{tightemize}
{% endif %}
{% endfor %}
{% if job.alltitles %}\location{Roles held:}
\begin{tightemize}{0.5cm}
{% for role in job.alltitles %}
\item[$\blacksquare$] \textbf{{"{"}}{{ role.role }}{{"}"}} ({{ role.length }})
{% endfor %}
\end{tightemize}{% endif %}
\sectionsep

{% endfor %}

{# ## Projects section ## #}
\section{Projects}
{% for piece in projects %}
\runsubsection{{"{"}}{{ piece.title }}{{"}"}}
\descript{| {% for txt in piece.tech %} {{ txt }} {% endfor %}
	  | \href{{"{"}}{{ piece.github }}{{"}"}}{\emph{Github} }
}
\location{{"{"}}{{ piece.date }}{{"}"}}
{{ piece.content }}
\sectionsep

{% endfor %}
\end{minipage} 
\end{document}  \documentclass[]{article}
